[Unit]
Description=node server for DOMAIN

[Service]
Restart=on-failure
User=USERNAME
WorkingDirectory=/home/USERNAME/sites/DOMAIN/server

ExecStart=/usr/bin/node /home/USERNAME/sites/DOMAIN/server/index.js

[Install]
WantedBy=multi-user.target
